* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: linear-gradient(135deg, #1e1e2e, #4b4b6d);
  position: relative;
}

.main {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

h2 {
  margin-top: 80px;
  font-size: 55px;
  text-align: center;
  color: white;
}
h3 {
  background-color: rgb(195, 193, 193);
  padding: 12px 12px;
  border-radius: 10px;
  font-size: 45px;
  margin-top: 40px;
  font-weight: 500;
  color: black;
  width: 180px;
  height: 60px;
  text-align: center;
  color: white;
}
button {
  background: #1d3557;
  padding: 15px 45px;
  font-size: 28px;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 50px;
  transition: background-color 0.3s ease;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
button:hover {
  transform: scale(1.1);
}
